#banner
  .banner_content
    %h1 File Cabinet
    %p Your Life's Work. Organized, always.
    %button= link_to "Enter", new_user_registration_path

#callouts
  .callouts_inner
    .wrapper
      .callout
        %h2 Organize
        %p Lorem ipsum dolor sit amet, lobortis theophrastus et vel. Mei movet essent evertitur ei, nonumy vidisse fuisset usu no, te inani elitr consul eum. Oratio instructior nam ei, sadipscing reformidans his te.

#bottom_cta
  .wrapper
    %h2 Go Ahead!
    %br
    %button= link_to "Join Now!", new_user_registration_path
